<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bbva-colors.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/bbva-fonts.css">
    <link rel="stylesheet" type="text/css" href="../public/css/coronita.css">
    <link rel="stylesheet" type="text/css" href="../public/css/volunteering.css">
</head>
<body>
<article>
    <section class="container-profile">
            <div class="container-profile-img">
                <img src="../public/images/foto.png">
            </div>
            <div class="container-profile-info">
                <h2 class="bbva-medium-blue-light">¡Hola Juanito!</h2>
                <p class="bbva-black-500">Coorporativo Bancomer</p>
            </div>
    </section>
</article>

</body>
</html>