/*form .container-label {*/
    /*color: #545454;*/
    /*font-size: .7rem;*/
/*}*/


/*form .field-container {*/
    /*width: 120px;*/
    /*height: 45px;*/
    /*display: inline-block;*/
    /*background: #F4F4F4;*/
    /*border-bottom: 1px solid #121212;*/
/*}*/
/*form .container-label {*/
    /*width: 100%;*/
    /*display: inline-block;*/
/*}*/
/*form .container-input {*/
    /*width: 100%;*/
    /*display: inline-block;*/
/*}*/

/*input[type=text],*/
/*input[type=password],*/
/*input[type=number],*/
/*input[type=email]*/
/*{*/
    /*!*width: 20%;*!*/
    /*background-color: #F4F4F4;*/
    /*text-align: left;*/
    /*!*font-family: 'BentonSansBBVA-Book';*!*/
    /*!*font-size: 16px;*!*/
    /*color: #666666;*/
    /*letter-spacing: 0;*/
    /*min-height: 16px;*/
    /*border: none;*/
    /*outline: 0;*/
    /*padding: 15px 10px 5px 10px;*/
    /*!*border-bottom: 1px solid #121212;*!*/
    /*!*-ms-appearance: none;*!*/
    /*!*-moz-appearance: none;*!*/
    /*!*-o-appearance: none;*!*/
    /*!*-webkit-appearance: none;*!*/
    /*!*appearance: none;*!*/
    /*margin-right: 11px;*/
    /*margin-bottom: 15px;*/
/*}*/



/*input[type=checkbox] {*/
    /*width: 2%;*/
    /*display: inline-block;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/

/*}*/

/*div uno{*/
/*background-color: #3b3e45;*/
/*padding: .2rem 0;*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/

/*p{*/
/*background: #F4F4F4;*/
/*border: 1px solid #D8D8D8;*/
/*border-radius: 4px 4px 0 0;*/
    /*color: #094FA4;*/
/*}*/

/*estilos para el menus desplegable*/
.accordion-header {
    /*float: left;*/
    text-align: left;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #1464A5;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 5px;
}
.accordion-header.selectedHead {
    border-bottom: 1px solid #1464A5;
    background: #1464A5;
    color: #FFFFFF;
}

.accordion-container {
    /*float: left;*/
    /*width: 100%;*/
    padding: 5px;
    display: none;
}

.img-name-section{
    background-image: url(../images/select.png);
    background-repeat: no-repeat, repeat;
    background-position: 96% 50%;
}

/*.myform {*/
    /*display: inline-block;*/
    /*width: 70%;*/
    /*margin: 0 15%;*/
/*}*/

/*h3, .myform{*/
    /*font-family: inherit;*/
    /*font-weight: 500;*/
    /*line-height: 1.1;*/
    /*color: #094FA4;*/
/*}*/

/*h3 .myform.superEncabezado.selectedHead{*/

    /*color: #FFFFFF;*/
/*}*/