<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../public/css/bbva-fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/bbva-colors.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../public/css/bbva-main.css"/>-->
    <link rel="stylesheet" type="text/css" href="../public/css/coronita.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/coronita-small.css"/>

    <script type="text/javascript" src="../public/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../public/js/bootstrap.js"></script>
    <script type="text/javascript" src="../public/js/jquery.flowup-labels.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>

</head>
<body>

<header class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-lg-6 col-md-6 col-sm-5 logo">
                <a href="#"><img src="../public/images/logo.png"></a>
            </div>

            <div class=" col-xs-8 col-lg-6 col-md-6 col-sm-7 perfil-nav">
                <div class="burguer">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid container-nav">
    <div class="container">
        <div class="row action-main-nav">
            <nav class="menu-main-container">
                <ul class="menu-main">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a href="mentor/new.html">Ficha Mentor</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a href="scholarshipHolder/list.html">Lista Becarios</a></li>
                </ul>
            </nav>

            <div class="search-header">
                <form action="" method="get" id="searchForm">
                    <div class="action-icon-search">
                        <span class="icon-search"></span>
                    </div>
                    <div class="search-inpunt">
                        <input type="text" name="s" class="search" placeholder="¿Qué quieres saber?" value="" />
                    </div>
                    <div class="close-icon-search">
                        <span class="icon-close"></span>
                    </div>
                </form>
                <div class="list-search">
                    <div class="list">
                        <h4>What are you looking for?</h4>
                        <ul>
                            <li><a href="#">Title</a></li>
                        </ul>
                    </div>
                    <!--<div class="footer-search">-->
                        <!--<p>¿No encuentras lo qué estas buscando? Ver <a href="#">Preguntas frecuentes</a> o contáctanos via <a href="#">Atención al cliente</a></p>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>

    <!-- Container for the Responsive Menu -->
    <!--<div class="mobile-nav-top">-->
        <!--<div class="container">-->
            <!--<div class="menu-top-menu-container">-->
                <!--<ul id="menu-top-menu-1" class="menu">-->
                    <!--<li class="">-->
                        <!--<a href="#">Cancelar donativo recurrente ATM</a>-->
                    <!--</li>-->
                    <!--<li class="">-->
                        <!--<a href="#">Registro de donadores</a>-->
                    <!--</li>-->
                    <!--<li class="perfil-icon ">-->
                        <!--<a href="#">Perfil de donador</a>-->
                    <!--</li>-->
                    <!--<li class="link-kar kar-active ">-->
                        <!--<a href="#">Carrito de compras</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>

<!--<section>-->
    <!--<h1>Título grande</h1>-->
    <!--<h2>Título mediano</h2>-->
    <!--<h3>Título pequeño</h3>-->
    <!--<h4>Subtitular grande</h4>-->
    <!--<h5>Subtitular mediano</h5>-->
    <!--<h6>Subtitular pequeño</h6>-->

    <!--<p>This is a paragraph with number 1</p>-->
    <!--<p>This is a paragraph with number 2</p>-->
    <!--<p>This is a span with number 1</p>-->
<!--</section>-->


</body>
</html>